* {
  box-sizing: border-box;
}

html {
text-align: right;
}

.App{
  background-image: url(/barb.jpeg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
  text-align: right;
}