
.col{
    background-color: #00000099;
    box-shadow: 1px 1px 1px #9c1a1a;
    /* margin-right: 1%;
    margin-top: 1%;
    padding: 2% 8px; */
    text-align: center;
    border-radius: 2%;
    color: white;
    padding: 20px;
    margin: 5px;
}
.row-cols-md-4{
    width: 100%;
    justify-content: center;
}

.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 19%;
    height: 22vh;
    text-align-last: center;
}

.tools{
    /* background: #4a4747; */
    /* padding: 3% 4% 3% 8%; */
}
.col p{
    font-size: medium;
    text-align: center;
}
/* img {
    width: 100% !important;
    height: 50%;
} */

@media (max-width: 650px){
        /* h2.text-capitalize.text-center{
        text-align: center !important;
        font-size: larger;
        margin-top: 10%;
    } */
    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 40%;
        height: 23vh;
        padding: 2%;
    }
}